[build]
command = "npm run build"
publish = ".next"

[functions]
directory = "netlify/functions"

[[redirects]]
from = "https://chronocrawl.com/*"
to = "https://www.chronocrawl.com/:splat"
status = 301
force = true
